<!DOCTYPE html>
<html>
<head>
  <title>AtmLocatorRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<!-- google map api -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbuBGbE1QM5f2yiQu5IiJkBj9t3wact5k">
	</script>
</head>
<body>

<%= yield %>

</body>
</html>
